@font-face {
    font-family: "SnmsungOneKorean-400";
    src: url("../font/SamsungOneKorean-400.woff") format("woff");
}

@font-face {
    font-family: "SnmsungOneKorean-600";
    src: url("../font/SamsungOneKorean-600.woff") format("woff");
}

@font-face {
    font-family: "SnmsungOneLatin-400";
    src: url("../font/SamsungOneLatin-400.woff2") format("woff2");
}

@font-face {
    font-family: "SnmsungOneLatin-700";
    src: url("../font/SamsungOneLatin-700.woff2") format("woff2");
}

@font-face {
    font-family: "SnmsungOneSharpSans-M";
    src: url("../font/SamsungSharpSans-Medium.woff") format("woff");
}

body {
    font-family: "SnmsungOneLatin-400", "Malgun Gothic";
    font-size: 12px;
    line-height: 1.3;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

ul,
li,
div,
a,
h1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: rgb(0,0,0);
}
